# Environment Variables
.env
.env.*

# Virtual Environment
env/
venv/

# Python Cache
__pycache__/
*.py[cod]

# Database
db.sqlite3

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log